/* ==========================================================================
   custom skin
   ========================================================================== */

/* Colors */
$code-background-color: #6dc5ff !default;
$code-background-color-dark: #019dff !default;
$background-color: #f3f3f3 !default;
$text-color: #343434 !default;
$muted-text-color: #8e8b82 !default;
$primary-color: #343434 !default;
$border-color: #e9dcbe !default;
$footer-background-color: #e9dcbe !default;
$link-color: #343434 !default;
$link-color-hover: mix(#fff, $link-color, 25%) !default;
$link-color-visited: mix(#00adb5, $text-color, 40%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}
